.checkoutProduct {
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 20px;
    user-select: none;
    border-radius: 12px;
    padding-left: 25px;
    box-shadow: 10px 10px 10px rgba(192, 188, 192, 0.466);
}

.checkoutProduct__image {
    object-fit: contain;
    width: 100px;
    height: 180px;
}

.checkoutProduct__info {
    padding: 20px;
    font-weight: 500;
}

.checkoutProduct__rating {
    display: flex;
    margin-top: 10px;
}

.checkoutProduct__title {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600; 
}

.checkoutProduct__info > button {
    width: 200px;
    margin-top: 10px;
    padding: 10px 0;
    color: rgb(0, 0, 0);
    font-size: 17px;
    background-color: aliceblue;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid;
}

.checkoutProduct__info > button:hover {
    color: aliceblue;
    background-color: #cd9842;
    box-shadow: 8px 8px 10px #cd984271;
}

@media screen and (max-width: 768px) {
    .checkoutProduct {
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 20px;
        min-width: 100px;
        border-radius: 12px;
        z-index: 1;
    }
    .checkoutProduct__info {
        padding: 0;
    }
    .checkoutProduct__image {
        width: 100px;
        height: 180px;
    } 
    .checkoutProduct__title {
        font-size: 14px;
    } 
    .checkoutProduct__price {
        padding-top: 5px;
    }
}
