.home {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.home__row1, 
.home__row2, 
.home__row3, 
.home__row4, 
.home__row5,
.home__row6,
.home__row7 {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.home_row1,
.home_row2,
.home_row3,
.home_row4,
.home_row5,
.home_row6,
.home_row7 {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.home__image {
    width: 100%;
    height: 60%;
    mask-image: linear-gradient(to top, rgba(255, 255, 255, 0.875), rgba(0, 0, 0, 1));
    z-index: -1;
    margin-bottom: -40px;
}


@media screen and (max-width: 768px) {
    .home__image {
        margin-bottom: -6.5%;
    }
    .home__row1, 
    .home__row2, 
    .home__row3, 
    .home__row4, 
    .home__row5,
    .home__row6,
    .home__row7 {
        flex-direction: column-reverse;
}
}