.login__logo {
    width: 180px;
    object-fit: contain;
    margin: 0 20px;
}

.login {
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
}

.login__container {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid rgb(2, 2, 2)
}

.login__container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.login__container > form > input {
    height: 30px;
    margin: 10px 0;
    background-color: transparent;
    width: 98%;
    border: 1px solid;
    outline: none;
}

.login__container > p {
    margin-top: 15px;
    font-size: 12px;
}

.login__signInButton {
    width: 100%;
    padding: 10px 0;
    color: rgb(0, 0, 0);
    font-size: 19px;
    background-color: rgba(228, 226, 229, 0.679);
    border-radius: 12px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}

.login__registerButton {
    width: 100%;
    padding: 10px 0;
    color: rgb(0, 0, 0);
    font-size: 19px;
    background-color: rgba(228, 226, 229, 0.679);
    border-radius: 12px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .login__logo {
        width: 150px;
    }
    .login__container > h1 {
        font-weight: 400;
        font-size: 28px;
    }
    .login__signInButton {
        font-size: 18px;
    }
    .login__registerButton {
        font-size: 18px;
    }
}
